# Ignore all image files
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.bmp
# *.tiff
# *.svg
# *.ico
*.rar
*.psd

# Ignore all PDF files
*.pdf

# Ensure everything else is not ignored
!*/

# Include hidden files and directories
.*/*

# If there are any other specific files or directories you want to exclude, add them below
# For example:
# /node_modules/
# /build/
